<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>HomePage</title>
</head>

<body>
    <h1>Gerador de Dados para Testes</h1> <br>
    <fieldset>
        <legend>Dados pessoais</legend>
        <label>
            1 - Nome: <br>
            <input type="text">
        </label>

        <label>
            2 - E-mail: <br>
            <input type="text">
        </label>

        <label>
            3 - Telefone: <br>
            <input type="text">
        </label>
    </fieldset>

    <fieldset>
        <legend>Dados de endereço</legend>
        <label>
            4 - Cidade: <br>
            <input type="text">
        </label>

        <label>
            5 - Estado: <br>
            <input type="text">
        </label>
    </fieldset>

    <button>Gerar</button>
</body>

</html>