<!DOCTYPE html>
<html lang="PT-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>HomePage</title>
</head>

<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $(function() {
          $('a#teste').on('click', function(e) {
            e.preventDefault()
            $.getJSON('/gerar',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>

    <div>
        <h1>Gerador de Dados para Testes</h1> <br>

        <fieldset>
            <legend>Dados pessoais</legend>
            <label>
                1 - Nome: <br>
                <input type="text" value="{{dados['nome']}}">
            </label>

            <label>
                2 - E-mail: <br>
                <input type="text" value="{{dados['email']}}">
            </label>

            <label>
                3 - Telefone: <br>
                <input type="text" value="{{dados['telefone']}}">
            </label>
        </fieldset>

        <fieldset>
            <legend>Dados de endereço</legend>
            <label>
                4 - Cidade: <br>
                <input type="text" value="{{dados['cidade']}}">
            </label>

            <label>
                5 - Estado: <br>
                <input type="text" value="{{dados['estado']}}">
            </label>
        </fieldset>

        <form>
            <a href=# id=teste><button>Gerar</button></a>
        </form>
    </div>
</body>

</html>